.card
  %header
    %h2.title= card.title
    %img{src:card.image}
    %p.description= html_escape(card.description)
  .data
    .numbers
      .total 
        %label total
        %h3= html_escape(card.data_points.last.persons)
      .total.by-gender
        .women
          %label women
          %h3= html_escape(card.data_points.last.females)
        .men 
          %label men
          %h3= html_escape(card.data_points.last.males)
  .charts
    %ul
      - card.data_points.each do | dp |
        %li
          = "Year: #{dp.year}, Total: #{dp.persons}"
  %a.btn.btn-xlarge.btn-info{href:'#',} more info
