%header.vote-for-death.clearfix
  .container
    .row
      .span8
        %h4 This project was created for GovHack Sydney 2013
      .span3.offset1
        %a.btn.btn-block.btn-large.btn-info{href: 'http://www.govhack.org/2013-prizes/'} vote for us

%section.face-off
  .container
    .row
      %h1 What is more deadly?
    .row
      .span5
        .competitor
          %header
            %img{src:first.image}
            %h4.title= first.title
      .span2
        %h3.vs vs
      .span5
        .competitor
          %header
            %img{src:second.image}
            %h4.title= second.title
    .row
      .span6.offset3
        %button.fight.btn.btn-block.btn-xlarge.btn-danger
          Start Deathmatch

:javascript

  $(document).ready( function() {

  var barChart = new Rickshaw.Graph( {
      element: document.querySelector("#chart1"),
      renderer: 'bar',
      series: [ {
          color: '#3498db',
          data: #{first_json},
          name: "#{first.title}"
      },
      {
          color: '#1abc9c',
          data: #{second_json},
          name: "#{second.title}"
      }
    ]
  });

  var y_axis = new Rickshaw.Graph.Axis.Y( {
    graph: barChart,
    orientation: 'left',
    element: document.getElementById('y_axis'),
  } );

  var x_axis = new Rickshaw.Graph.Axis.X( {
    graph: barChart,
    orientation: 'bottom',
    element: document.getElementById('x_axis'),
  } );

  var hoverDetail = new Rickshaw.Graph.HoverDetail( {
      graph: barChart,
      xFormatter: function(x) { return x },
      yFormatter: function(y) { return Math.floor(y) + " deaths" }
  } );

  barChart.render();

  });

%section.result
  .container
    - sorted = [first, second].sort { |x,y| y.data_points.last.persons <=> x.data_points.last.persons }
    .row
      %h1.winner= "#{sorted[0].data_points.last.persons} people killed by #{sorted[0].title.downcase}"
      %h2.loser= "while only #{sorted[1].data_points.last.persons} killed by #{sorted[1].title.downcase} last year."
    - unless first.data_points.last.potential_years_lost_persons.nil? || second.data_points.last.potential_years_lost_persons.nil?
      .row.year-comparison
        %h2.title Years of potential life lost to society
        .span5
          %h3.cause= first.title
          %h2.number= "#{first.data_points.last.potential_years_lost_persons.to_f.round}"
          %h4.years years
        .span2
          %h3.vs vs
        .span5
          %h3.cause= second.title
          %h2.number= "#{second.data_points.last.potential_years_lost_persons.to_f.round}"
          %h4.years years
      .row
        .span12.center.data-note
          %small
            %a{href: 'http://en.wikipedia.org/wiki/Years_of_potential_life_lost'} Learn more about potential life lost calculation
    / .row
    /   .span8.offset2.center
    /     .btn-group
    /       %a.btn.btn-large.active{:href =>'#chart1', :'data-toggle' => 'tab'} Chart 1
    /       %a.btn.btn-large{:href =>'#chart2', :'data-toggle' => 'tab'} Chart 2
    /       %a.btn.btn-large{:href =>'#chart3', :'data-toggle' => 'tab'} Chart 3
    .row
      .span10.offset1
        #chart_container.charts
          #y_axis
          #x_axis
          #chart1.chart
          #legend

    .row
      .span6.offset3
        %a.btn.btn-block.btn-xlarge.btn-warning{href: '/'}
          play again
%section.social
  .container
    %h1 Share with your friends
    .row
      .span5.offset1
        %a.btn.btn-block.btn-xlarge{href: facebook_link}
          share on facebook
      .span5
        %a.btn.btn-block.btn-xlarge.btn-info{href: tweet_link}
          tweet this
%footer
  .container
    .row
      .span8
        %a{href: '/year/2011'} View the raw data
        %h3 Data Source
        %a{href: 'http://www.abs.gov.au/AUSSTATS/abs@.nsf/DetailsPage/3303.02011?OpenDocument'} Underlying Causes of Death, Australia, 2011
        %h3 Contributors
        %a.clearfix{href: 'https://github.com/adscott'} Adam 'Not the golfer' Scott
        %a.clearfix{href: 'https://github.com/MasterPete'} Pennueng 'Doodle-master' Chemsripong
        %a.clearfix{href: 'https://github.com/snewman'} Sam 'Chart farts' Newman
        %a.clearfix{href: 'https://github.com/kpvenables'} Kane 'The Kid' Venables
        %a.clearfix{href: 'https://github.com/PilchardFriendly'} Nick 'Don't Call me Dr.' Drew
        %a.clearfix{href: 'https://github.com/2metres'} Andrew 'The American' Carr
        %h3 Code Licence
        %a.clearfix{href: 'https://github.com/adscott/govhack/blob/master/LICENCE'}Apache 2.0

      .span2
        %a{href:'http://thoughtworks.com'}
          %img{src:'/images/logos/thoughtworks.png', alt:'ThoughtWorks'}
      .span2
        %a{href:'http://govhack.org'}
          %img{src:'/images/logos/govhack.png', alt:'GovHack 2014'}
