%header.vote-for-death.clearfix
  .container
    .row
      .span8
        %h4 This project was created for GovHack Sydney 2013
      .span3.offset1
        %a.btn.btn-block.btn-large.btn-info vote for us

%section.face-off
  .container
    .row
      %h1 What is more deadly?
    .row
      .span5
        .competitor
          %header
            %img{src:first.image}
            %h4.title= first.title
      .span2
        %h3.vs vs
      .span5
        .competitor
          %header
            %img{src:second.image}
            %h4.title= second.title
    .row
      .span6.offset3
        %button.fight.btn.btn-block.btn-xlarge.btn-danger
          Start Deathmatch
%section.winner
  .container
    .row
      .span8.offset2
        .charts
          .btn-group
            %button.btn Chart 1
            %button.btn Chart 2
            %button.btn Chart 3
          .chart
    - unless first.data_points.last.potential_years_lost_persons.nil? || second.data_points.last.potential_years_lost_persons.nil?
      .row.year-comparison
        %h1 Years of potential life lost
        .span3.offset2
          %h2.years= "#{first.data_points.last.potential_years_lost_persons}"
          %h4 years
        .span2
          %h3 vs
        .span3
          %h2.years= "#{second.data_points.last.potential_years_lost_persons}"
          %h4  years
    .row
      .span6.offset3
        %a.btn.btn-block.btn-xlarge.btn-warning{href: '/'}
          play again
%section.social
  .container
    %h1 Share with your friends
    .row
      .span5.offset1
        %a.btn.btn-block.btn-xlarge
          share on facebook
      .span5
        %a.btn.btn-block.btn-xlarge.btn-info
          tweet this
%footer
  .container
    .row
      .span8
        %h3 Sources
        %ul
          %li 1
          %li 2
          %li 3
      .span2
        %a{href:'http://thoughtworks.com'}
          %img{src:'/images/logos/thoughtworks.png', alt:'ThoughtWorks'}
      .span2
        %a{href:'http://govhack.org'}
          %img{src:'/images/logos/govhack.png', alt:'GovHack 2014'}
