%header.vote-for-death.clearfix
  .container
    .row
      .span8
        %h4 This project was created for GovHack Sydney 2013
      .span3.offset1
        %a.btn.btn-block.btn-large.btn-info vote for us

%section.face-off
  .container
    .row
      %h1 What is more deadly?
    .row
      .span5
        .competitor
          %header
            %img{src:first.image}
            %h4.title= first.title
      .span2
        %h3.vs vs
      .span5
        .competitor
          %header
            %img{src:second.image}
            %h4.title= second.title
    .row
      .span6.offset3
        %button.fight.btn.btn-block.btn-xlarge.btn-danger
          Start Deathmatch

:javascript

  $(document).ready( function() {

  var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart1"),
        renderer: 'line',
        series: [ {
            color: 'steelblue',
            data: #{first_json},
            name: "#{first.title}"
        },
        {
            color: 'lightblue',
            data: #{second_json},
            name: "#{second.title}"}]});



      var yAxis = new Rickshaw.Graph.Axis.Y({
           graph: graph
      });

      var xAxis = new Rickshaw.Graph.Axis.X({
                 graph: graph
      });

      var hoverDetail = new Rickshaw.Graph.HoverDetail( {
          graph: graph
      } );

      graph.render();
  });

%section.winner
  .container
    - unless first.data_points.last.potential_years_lost_persons.nil? || second.data_points.last.potential_years_lost_persons.nil?
      .row.year-comparison
        %h2.title Years of potential life lost
        .span5
          %h2.number= "#{first.data_points.last.potential_years_lost_persons.to_f.round}"
          %h4.years years
        .span2
          %h3.vs vs
        .span5
          %h2.number= "#{second.data_points.last.potential_years_lost_persons.to_f.round}"
          %h4.years years
    .row
      .span8.offset2.center
        .btn-group
          %a.btn.btn-large.active{:href =>'#chart1', :'data-toggle' => 'tab'} Chart 1
          %a.btn.btn-large{:href =>'#chart2', :'data-toggle' => 'tab'} Chart 2
          %a.btn.btn-large{:href =>'#chart3', :'data-toggle' => 'tab'} Chart 3
    .row
      .span8.offset2
        .charts
          #chart1.chart
    .row
      .span6.offset3
        %a.btn.btn-block.btn-xlarge.btn-warning{href: '/'}
          play again
%section.social
  .container
    %h1 Share with your friends
    .row
      .span5.offset1
        %a.btn.btn-block.btn-xlarge
          share on facebook
      .span5
        %a.btn.btn-block.btn-xlarge.btn-info{href: tweet_link}
          tweet this
%footer
  .container
    .row
      .span8
        %h3 Sources
        %ul
          %li 1
          %li 2
          %li 3
      .span2
        %a{href:'http://thoughtworks.com'}
          %img{src:'/images/logos/thoughtworks.png', alt:'ThoughtWorks'}
      .span2
        %a{href:'http://govhack.org'}
          %img{src:'/images/logos/govhack.png', alt:'GovHack 2014'}
