%header.vote-for-death.clearfix
  .container
    .row
      .span8
        %h4 This project was created for GovHack Sydney 2013
      .span3.offset1
        %a.btn.btn-block.btn-large.btn-info vote for us

%section.face-off
  .container
    .row
      %h1 What is more deadly?
    .row
      .span5
        .competitor
          %header
            %img{src:first.image}
            %h4.title= first.title
      .span2
        %h3.vs vs
      .span5
        .competitor
          %header
            %img{src:second.image}
            %h4.title= second.title
    .row
      .span6.offset3
        %button.fight.btn.btn-block.btn-xlarge.btn-danger
          Start Deathmatch

:javascript

  $(document).ready( function() {
  var data2 = [ { x: 1910, y: 92228531 }, { x: 1920, y: 106021568 }, { x: 1930, y: 123202660 }, { x: 1940, y: 132165129 }, { x: 1950, y: 151325798 }, { x: 1960, y: 179323175 }, { x: 1970, y: 203211926 }, { x: 1980, y: 226545805 }, { x: 1990, y: 248709873 }, { x: 2000, y: 281421906 }, { x: 2010, y: 308745538 } ];

  var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart1"),
        width: 400,
        renderer: 'line',
        height: 200,
        series: [ {
                color: 'steelblue',
                data: #{first_json},
                name: "#{first.title}"
        },
        {
                        color: 'lightblue',
                        data: #{second_json},
                        name: "#{second.title}"
                } ]
  } );



      graph.render()
  });

%section.result
  .container
    - sorted = [first, second].sort { |x,y| y.data_points.last.persons <=> x.data_points.last.persons }
    .row
      %h1.winner= "#{sorted[0].data_points.last.persons} people killed by #{sorted[0].title.downcase}"
      %h2.loser= "while only #{sorted[1].data_points.last.persons} killed by #{sorted[1].title.downcase} last year."
    - unless first.data_points.last.potential_years_lost_persons.nil? || second.data_points.last.potential_years_lost_persons.nil?
      .row.year-comparison
        %h2.title Years of potential life lost to society
        .span5
          %h3.cause= first.title
          %h2.number= "#{first.data_points.last.potential_years_lost_persons.to_f.round}"
          %h4.years years
        .span2
          %h3.vs vs
        .span5
          %h3.cause= second.title
          %h2.number= "#{second.data_points.last.potential_years_lost_persons.to_f.round}"
          %h4.years years
        %small
          %a{href: 'http://en.wikipedia.org/wiki/Years_of_potential_life_lost'} Learn more about potential life lost calculation
    .row
      .span8.offset2.center
        .btn-group  
          %a.btn.btn-large.active{:href =>'#chart1', :'data-toggle' => 'tab'} Chart 1
          %a.btn.btn-large{:href =>'#chart2', :'data-toggle' => 'tab'} Chart 2
          %a.btn.btn-large{:href =>'#chart3', :'data-toggle' => 'tab'} Chart 3
    .row
      .span8.offset2
        .charts
          #chart1.chart
    .row
      .span6.offset3
        %a.btn.btn-block.btn-xlarge.btn-warning{href: '/'}
          play again
%section.social
  .container
    %h1 Share with your friends
    .row
      .span5.offset1
        %a.btn.btn-block.btn-xlarge
          share on facebook
      .span5
        %a.btn.btn-block.btn-xlarge.btn-info{href: tweet_link}
          tweet this
%footer
  .container
    .row
      .span8
        %h3 Data Source
        %a{href: 'http://www.abs.gov.au/AUSSTATS/abs@.nsf/DetailsPage/3303.02011?OpenDocument'} Underlying Causes of Death, Australia, 2011
        %h3 Contributors
        %a.clearfix{href: 'https://github.com/adscott'} Adam 'Not the golfer' Scott
        %a.clearfix{href: 'https://github.com/MasterPete'} Pennueng 'Doodle-master' Chemsripong
        %a.clearfix{href: 'https://github.com/snewman'} Sam 'Chart farts' Newman
        %a.clearfix{href: 'https://github.com/kpvenables'} Kane 'The Kid' Venables
        %a.clearfix{href: 'https://github.com/PilchardFriendly'} Nick 'Don't Call me Dr.' Drew
        %a.clearfix{href: 'https://github.com/2metres'} Andrew 'The American' Carr

      .span2
        %a{href:'http://thoughtworks.com'}
          %img{src:'/images/logos/thoughtworks.png', alt:'ThoughtWorks'}
      .span2
        %a{href:'http://govhack.org'}
          %img{src:'/images/logos/govhack.png', alt:'GovHack 2014'}
