%header.vote-for-death.clearfix
  .container
    .row
      .span8
        %h4 This project was created for GovHack Sydney 2013
      .span3.offset1
        %a.btn.btn-block.btn-large.btn-info vote for us

%section.face-off
  .container
    .row
      %h1 What is more deadly?
    .row
      .span5
        .competitor
          %header
            %img{src:first.image}
            %h4.title= first.title
      .span2
        %h3.vs vs
      .span5
        .competitor
          %header
            %img{src:second.image}
            %h4.title= second.title
    .row
      .span6.offset3
        %button.fight.btn.btn-block.btn-xlarge.btn-danger
          Start Deathmatch

:javascript

  $(document).ready( function() {

  var graph = new Rickshaw.Graph( {
        element: document.querySelector("#chart1"),
        renderer: 'line',
        interpolate: 'linear',
        series: [ {
            color: 'steelblue',
            data: #{first_json},
            name: "#{first.title}"
        },
        {
            color: 'lightblue',
            data: #{second_json},
            name: "#{second.title}"}]});



      var yAxis = new Rickshaw.Graph.Axis.Y({
           graph: graph
      });

      var xAxis = new Rickshaw.Graph.Axis.X({
                 graph: graph
      });

      var hoverDetail = new Rickshaw.Graph.HoverDetail( {
          graph: graph
      } );

      //var legend = new Rickshaw.Graph.Legend( {
      //        graph: graph,
      //        element: document.querySelector('#legend'),
      //} );

  var legend = document.querySelector('#legend');

  var Hover = Rickshaw.Class.create(Rickshaw.Graph.HoverDetail, {

  render: function(args) {
    legend.innerHTML = args.formattedXValue;

    args.detail.sort(function(a, b) { return a.order - b.order }).forEach( function(d) {
      var line = document.createElement('div');
      line.className = 'line';

      var swatch = document.createElement('div');
      swatch.className = 'swatch';
      swatch.style.backgroundColor = d.series.color;

      var label = document.createElement('div');
      label.className = 'label';
      label.innerHTML = d.name + ": " + d.formattedYValue;

      line.appendChild(swatch);
      line.appendChild(label);

      legend.appendChild(line);

      var dot = document.createElement('div');
      dot.className = 'dot';
      dot.style.top = graph.y(d.value.y0 + d.value.y) + 'px';
      dot.style.borderColor = d.series.color;

      this.element.appendChild(dot);

      dot.className = 'dot active';

      this.show();

    }, this );
    }
  });

  var hover = new Hover( { graph: graph } );

  graph.render();

  var barChart = new Rickshaw.Graph( {
          element: document.querySelector("#chart2"),
          renderer: 'bar',
          series: [ {
              color: 'steelblue',
              data: #{first_json},
              name: "#{first.title}"
          },
          {
              color: 'lightblue',
              data: #{second_json},
              name: "#{second.title}"}]});

  var yAxis = new Rickshaw.Graph.Axis.Y({
    graph: barChart
  });

  var xAxis = new Rickshaw.Graph.Axis.X({
    graph: barChart
  });

  var legend = new Rickshaw.Graph.Legend({
      graph: barChart,
      element: document.querySelector('#chart2legend')
  });

  var highlighter = new Rickshaw.Graph.Behavior.Series.Highlight( {
  	graph: barChart,
  	legend: legend
  } );

  new Rickshaw.Graph.HoverDetail( {
  	graph: barChart
  } );

  barChart.render();

  });

%section.result
  .container
    - sorted = [first, second].sort { |x,y| y.data_points.last.persons <=> x.data_points.last.persons }
    .row
      %h1.winner= "#{sorted[0].data_points.last.persons} people killed by #{sorted[0].title.downcase}"
      %h2.loser= "while only #{sorted[1].data_points.last.persons} killed by #{sorted[1].title.downcase} last year."
    - unless first.data_points.last.potential_years_lost_persons.nil? || second.data_points.last.potential_years_lost_persons.nil?
      .row.year-comparison
        %h2.title Years of potential life lost to society
        .span5
          %h3.cause= first.title
          %h2.number= "#{first.data_points.last.potential_years_lost_persons.to_f.round}"
          %h4.years years
        .span2
          %h3.vs vs
        .span5
          %h3.cause= second.title
          %h2.number= "#{second.data_points.last.potential_years_lost_persons.to_f.round}"
          %h4.years years
        %small
          %a{href: 'http://en.wikipedia.org/wiki/Years_of_potential_life_lost'} Learn more about potential life lost calculation
    .row
      .span8.offset2.center
        .btn-group
          %a.btn.btn-large.active{:href =>'#chart1', :'data-toggle' => 'tab'} Chart 1
          %a.btn.btn-large{:href =>'#chart2', :'data-toggle' => 'tab'} Chart 2
          %a.btn.btn-large{:href =>'#chart3', :'data-toggle' => 'tab'} Chart 3
    .row
      .span8.offset2
        .charts
          #legend
          #chart1.chart
          #chart2legend
          #chart2.chart
    .row
      .span6.offset3
        %a.btn.btn-block.btn-xlarge.btn-warning{href: '/'}
          play again
%section.social
  .container
    %h1 Share with your friends
    .row
      .span5.offset1
        %a.btn.btn-block.btn-xlarge{href: facebook_link}
          share on facebook
      .span5
        %a.btn.btn-block.btn-xlarge.btn-info{href: tweet_link}
          tweet this
%footer
  .container
    .row
      .span8
        %h3 Data Source
        %a{href: 'http://www.abs.gov.au/AUSSTATS/abs@.nsf/DetailsPage/3303.02011?OpenDocument'} Underlying Causes of Death, Australia, 2011
        %h3 Contributors
        %a.clearfix{href: 'https://github.com/adscott'} Adam 'Not the golfer' Scott
        %a.clearfix{href: 'https://github.com/MasterPete'} Pennueng 'Doodle-master' Chemsripong
        %a.clearfix{href: 'https://github.com/snewman'} Sam 'Chart farts' Newman
        %a.clearfix{href: 'https://github.com/kpvenables'} Kane 'The Kid' Venables
        %a.clearfix{href: 'https://github.com/PilchardFriendly'} Nick 'Don't Call me Dr.' Drew
        %a.clearfix{href: 'https://github.com/2metres'} Andrew 'The American' Carr

      .span2
        %a{href:'http://thoughtworks.com'}
          %img{src:'/images/logos/thoughtworks.png', alt:'ThoughtWorks'}
      .span2
        %a{href:'http://govhack.org'}
          %img{src:'/images/logos/govhack.png', alt:'GovHack 2014'}
